<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA1C3DA61D49844F00EE2F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1C3DC21D49844F00EE2F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1C3DCD1D49844F00EE2F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
